version: "3.9"

services:
  db:
    image: mysql:8
    container_name: metadata-mysql
    environment:
      MYSQL_DATABASE: metadata
      MYSQL_USER: metadata_user
      MYSQL_PASSWORD: metadata_pass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
